* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202C34;
    color: #FFF;
}

.tablet-desktop {
    display: none;
}

/* ===================================================================================================================================================================== */
/* STYLES FOR MOBILE VIEWPORT */
/* ========== DEFAULT: MOBILE VIEWPORT ========== */
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

/* ======= header & navbar =========================================== */
header {
    background-color: #1B3271; 
    color: #FFF;
    text-align: center;
    padding-top: 10px;
    height: auto;
    font-family: "Red Hat Display", sans-serif;
}

#logo a img {
    display: block;
    width: 130px;
    height: auto;
    margin: 0 auto 10px auto;
    border-radius: 40%;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    font-weight: bold;
    border-top: 1px solid #fff;
}

#navbar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0.7em 1em;
}

/* ======= main index ============================================== */
main {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.bg {
    background-color: #100C14;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px 10px;
}

h2 {
    font-family: 'MerriWeather', serif;
    font-size: 1.3rem;
    margin-bottom: 15px;
    border-bottom: 1px solid #FF4FD8;
    display: inline-block;
}

.favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.favorites img {
    width: 150px;
    height: 190px;
    border-radius: 5px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.categories div {
    width: 45%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.categories a {
    color: #000;
    text-decoration: none;
}

.categories div:nth-child(1) { background-color: #4A9FFF; }
.categories div:nth-child(2) { background-color: #FFE926; }
.categories div:nth-child(3) { background-color: #37FF25; }
.categories div:nth-child(4) { background-color: #FF4848; }
.categories div:nth-child(5) { background-color: #F94CFF; }
.categories div:nth-child(6) { background-color: #6CFFEB; }

/* ======= gallery ============================================== */
.detail-page {
    display: block;
    background-color: #1E232B;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 18px;
}

.detail-page img {
    display: block;
    width: 170px;
    height: auto;
    margin: 0 auto 12px;
    border-radius: 5px;
}

.synopsis {
    text-align: left;
    font-family: 'Red Hat Display', sans-serif;
}

.synopsis h3 {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 10px;
    color: #FF4FD8;
}

.synopsis p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 5px;  
}

.synopsis h4 {
    font-size: 0.8rem;
    color: #FF4FD8;
    margin: 8px 0 6px;
}

.synopsis ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.synopsis ul li {
    background: #426087;
    padding: 6px 8px;
    border-radius: 6px;
    color: #FFF;
    font-size: 0.8rem;
}

.breakline {
    border-top: 2px solid #4E4E4E;
    margin: 12px 0;
}

/* ======= top picks ============================================== */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.tier-list h4 {
    font-size: 1rem;
    margin: 20px auto;
    border-bottom: 1px solid #FF4FD8;
    display: inline-block;
}

.tier-list img {
    width: 150px;
    height: 190px;
    border-radius: 5px;
}

/* ======= main about ============================================== */
.about section {
    background-color: #565656;
    color: #FFF;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 40px;
}

.highlight {
    color: #FF4FD8;
}

.about p, .about blockquote, .about ul {
    margin: 10px 0;
    list-style-type: none;
}

.about blockquote {
    font-style: italic;
    line-height: 1.6;
}

.about blockquote::before {
    content: open-quote;
}

.about blockquote::after {
    content: close-quote;
}

.about a {
    color: #FF4FD8;
    text-decoration: none;
}

.about a:active {
    color: #4A9FFF;
    text-decoration: underline;
}

/* ======= footer ============================================== */
footer {
    background-color: #1B3271;
    text-align: center;
    padding: 15px;
    font-size: 0.8rem;
    margin-top: 20px;
}

footer img {
    height: 20px;
    margin: 5px;
}

/* ===================================================================================================================================================================== */
/* MEDIA QUERY FOR TABLET VIEWPORT */
@media screen and (min-width: 630px) {
    .tablet-desktop {
        display: block;
    }
    /* ======= header & navbar =========================================== */
    header {
        background-color: #1B3271;
        display: static;
        padding: 10px 0 0 0;
        text-align: center;
        height: auto;
        font-family: "Red Hat Display", sans-serif;
    }

    #logo a img {
        display: block;
        width: 130px;
        height: auto;
        margin: 0 auto 10px auto;
        border-radius: 40%;
    }

    #navbar {
        color: white;
        text-decoration: none;
        font-size: 2em;
        font-weight: 900;
    }

    #navbar li {
        border: none !important;
        background: transparent !important;
        display: inline-block;
    }

    /* ======= hero img ================================================== */
    #EG img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
    /* ======= main index ============================================== */
    .breakline {
        border: 2px solid #4E4E4E;
        margin: 25px 0;
    }
    
    main {
        width: 100%;
        margin: 50px auto;
        padding: 0 -30px;
        text-align: left;
    }

    .bg {
        background-color: #100C14;
        width: 95vw;       
        margin: 0 auto;       
        border-radius: 3px;  
        padding: 40px 20px;
    }

    h2 {
        font-family: 'MerriWeather', serif;
        font-size: 1.5rem;
        margin: 5px 0 20px 10px;
        border-bottom: 2px solid #FF4FD8;
        display: inline-block;
    }

    .favorites {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .favorites img {
        width: 180px;
        height: 240px;
        border-radius: 5px;
    }

    .categories {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .categories div {
        padding: 10px 25px;
        width: 250px;
        border-radius: 10px;
        text-align: center;
        font-weight: lighter;
    }

    .categories a {
        text-decoration: none;
        color: #000;
    }

    .categories div:nth-child(1) { background-color: #4A9FFF; } 
    .categories div:nth-child(2) { background-color: #FFE926; } 
    .categories div:nth-child(3) { background-color: #37FF25; } 
    .categories div:nth-child(4) { background-color: #FF4848; }
    .categories div:nth-child(5) { background-color: #F94CFF; }
    .categories div:nth-child(6) { background-color: #6CFFEB; }

    /* ======= gallery ============================================== */
    .gallery h2, .top-picks h2, .about h2 {
        text-align: center;
        margin-bottom: 30px;
        border: none;
        color: #FFF;
        background-color: #171C23;
        padding: 15px;
        border-radius: 5px;
        width: 99%;
    }
    
    .detail-page img {
        display: block;
        width: 200px;
        height: auto;
        margin: 12px auto;
        border-radius: 5px;
    }

    .synopsis h3 {
        padding-bottom: 20px;
    }

    /* ======= top picks ============================================== */
    .grid {
        gap: 20px;
        margin-bottom: 20px;
    }

    .tier-list h4 {
        font-size: 1rem;
        margin: 20px auto;
        border-bottom: 1px solid #FF4FD8;
        display: inline-block;
    }

    .tier-list img {
        width: 180px;
        height: 240px;
        border-radius: 5px;
    }

    .tier-list h4 {
        margin-left: 75px;
        padding-bottom: 10px;
    }
}

/* ===================================================================================================================================================================== */
/* MEDIA QUERY FOR DESKTOP VIEWPORT */
    /* ======= header & navbar =========================================== */
    header {
        background-color: #1B3271;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo a img{
        padding: 20px;
        margin-left: 50px;
        width: 10vw;
        border-radius: 40%;
    }

    #navbar ul{
        display: flex;
        gap: 20px;
        margin-right: 110px;
    }

    #navbar li {
        border: none !important;
        background: transparent !important;
        list-style-type: none;
    }

    #navbar a {
        color: white;
        text-decoration: none;
        font-size: 1em;
        font-weight: 800;
    }

    #navbar a:hover{
        color: #FF4FD8;
    }

    /* ======= hero img ================================================== */
    #EG img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

    /* ======= main index ============================================== */
    main {
        width: 100%;
        margin: 50px auto;
        padding: 0 -30px;
        text-align: left;
    }

    .bg {
        background-color: #100C14;
        width: 95vw;       
        margin: 0 auto;       
        border-radius: 3px;  
        padding: 40px 20px;
    }

    h2 {
        font-family: 'MerriWeather', serif;
        font-size: 1.8rem;
        margin: 5px 0 20px 10px;
        border-bottom: 2px solid #FF4FD8;
        display: inline-block;
    }

    .favorites {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .favorites img {
        width: 150px;
        height: 210px;
        border-radius: 5px;
    }

    .favorites img:hover {
        transform: scale(1.02);
    }


    .categories {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .categories div {
        padding: 15px 30px;
        width: 300px;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;
    }

    .categories a {
        text-decoration: none;
        color: #000;
    }

    .categories div:nth-child(1) { background-color: #4A9FFF; } 
    .categories div:nth-child(2) { background-color: #FFE926; } 
    .categories div:nth-child(3) { background-color: #37FF25; } 
    .categories div:nth-child(4) { background-color: #FF4848; }
    .categories div:nth-child(5) { background-color: #F94CFF; }
    .categories div:nth-child(6) { background-color: #6CFFEB; }

    .categories div:hover {
        opacity: 0.9;
        transform: scale(1.05);
    }

    .breakline {
        border: 2px solid #4E4E4E;
        margin: 25px 0;
    }

    /* ======= gallery ============================================== */
    .gallery h2, .top-picks h2, .about h2 {
        text-align: center;
        margin-bottom: 30px;
        border: none;
        color: #FFF;
        background-color: #171C23;
        padding: 15px;
        border-radius: 5px;
        width: 99%;
    }

    .detail-page {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 20px;
        background-color: #1E232B;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 25px;
    }

    .detail-page img {
        width: 160px;
        height: 230px;
    }

    .synopsis {
        flex: 1;
        min-width: 250px;
    }

    .synopsis h3 {
        text-align: left;
        font-size: 1rem;
        color: #FF4FD8;
        margin-bottom: 10px;
    }

    .synopsis p {
        font-size: 0.9rem;    
        margin-bottom: 10px;
        color: #fff;
    }

    .synopsis h4 {
        font-size: 0.95rem;
        margin-top: 10px;
        margin-bottom: 5px;
        color: #FF4FD8;
    }

    .synopsis ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        list-style: none;
        padding: 0;
    }

    .synopsis ul li {
        background-color: #426087;
        padding: 5px 10px;
        border-radius: 5px;
        color: #FFF;
        font-size: 0.8rem;
    }

    .synopsis ul li:hover {
        background-color: #FF4FD8;
    }
    /* ======= top picks ============================================== */
    .grid {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .tier-list h4 {
        font-size: 1.5rem;
        margin: 5px 0 20px 50px;
        border-bottom: 2px solid #FF4FD8;
        display: inline-block;
    }

    .tier-list img {
        width: 150px;
        height: 210px;
        border-radius: 5px;
    }

    .grid img:hover {
        transform: scale(1.05);
    }

    /* ======= about ============================================== */
    .about section {
        background-color: #565656;
        color: #FFF;
        border-radius: 10px;
        padding: 20px 40px;
        margin-bottom: 40px;
    }

    .highlight {
        color: #FF4FD8;
    }

    .about p, .about blockquote, .about ul {
        margin: 10px 0;
        list-style-type: none;
    }

    .about blockquote {
        font-style: italic;
        line-height: 1.6;
    }

    .about blockquote::before {
        content: open-quote;
    }

    .about blockquote::after {
        content: close-quote;
    }

    .about a {
        color: #FF4FD8;
        text-decoration: none;
    }

    .about a:hover {
        color: #4A9FFF;
        text-decoration: underline;
    }

    /* ======= footer ==================================================== */
    footer {
        background-color: #1b3271;
        text-align: center;
        padding: 20px;
        font-size: 0.9rem;
        margin-top: 40px;
    }

    footer img {
        height: 25px;
        margin: 5px;
    }

    footer img:hover {
        transform: scale(1);
        filter: saturate(100%) invert(100%);
    }
    
/* ===================================================================================================================================================================== */
/* MEDIA QUERY FOR PRINT */
@media print {
    * {
        background: none;
        color: black;
        box-shadow: none;
        text-shadow: none;
    }

    /* ======= header & navbar =========================================== */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo a img {
        padding: 0;
        margin-left: 0;
        width: 10vw;
        border-radius: 40%;
    }

    #navbar ul{
        display: flex;
    }

    .tablet-desktop {
        display: block;
    }

    /* ======= hero img ================================================== */
    #EG img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

    /* ======= main index ============================================== */
    main {
        width: 100%;
        text-align: left;
    }

    h2 {
        font-family: 'MerriWeather', serif;
        font-size: 0.99em;
        color: #000;
    }

    .favorites {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }

    .favorites img {
        width: 80px;
        height: auto;
        border-radius: 5px;
    }

    .categories {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* ======= gallery ============================================== */
    .gallery h2, .top-picks h2, .about h2 {
        text-align: center;
        border: none;
        font-size: 0.99em;
    }

    .detail-page {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        border-radius: 8px;
    }

    .detail-page img {
        width: 100px;
        height: auto;
        padding-right: 10px;
    }

    .synopsis h3 {
        text-align: left;
        font-size: 0.99em;
    }

    .synopsis ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    /* ======= top picks ============================================== */
    .grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .bg div {
        padding: 0;
        margin: 0;
    }

    .tier-list h4 {
        text-align: left;
        padding: 0;
        margin: 0;
    }

    .tier-list img {
        width: 70px;
        height: auto;
        border-radius: 5px;
    }

    /* ======= about ============================================== */
    .about blockquote {
        font-style: italic;
        line-height: 1.5;
    }

    .about section {
        padding: 0;
        margin-bottom: 0;
    }

    /* ======= footer ==================================================== */
    footer {
        text-align: center;
    }
}

    